body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	height: 500px;
	padding-left: 100px;
	min-width: 1200px;
	position: relative;
	z-index: 1;
}

.ryu {
	width: 659px;
	height: 494px;
	margin-top: 3px;
	float: left;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.hadouken {
	height: 90px;
	width: 156px;
	background-image: url('../images/hadouken.gif');
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	margin-left: 520px;
	margin-top: 175px;
}

* {
	outline: red 1px solid;
}
